@model List<BookDetail>
@{
    ViewBag.Title = "BulkSelectBook";
}

@Scripts.Render("~/bundles/jquery")

<h2>Bulk Select Book</h2>


@*Upload the files first and then ask if they're correct and if they aren't they can be removed
    Instead of providing the selection screen and asking if they want them uploaded*@


@foreach (BookDetail book in Model)
{
    @Html.Partial("_BookSelectionBulk", book)
}


<script>
    $(document).ready(function () {
        $("#deleteBtn").on('click', function () {
            var confirmed = confirm('Are you sure?');
            console.log($(this).parent());
            if (confirmed) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("Delete", "Books")",
                    dataType: "json",
                    data: JSON.stringify($(this)),
                    success: function () { console.log("Did it") }
                })
            }
        });
    });

</script>