@model List<BookDetail>
@{
    ViewBag.Title = "BulkSelectBook";
}

<script src="~/Scripts/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="~/Scripts/modernizr-2.8.3.js" charset="utf-8"></script>

<h2>Bulk Select Book</h2>


@*Upload the files first and then ask if they're correct and if they aren't they can be removed
    Instead of providing the selection screen and asking if they want them uploaded*@


@foreach (BookDetail book in Model)
{

    @Html.Partial("_BookSelectionBulk", book)
}


<script>
    $(document).ready(function () {
        $("[id^=deleteBtn]").on('click', function (e) {
            e.preventDefault();
            var confirmed = confirm('Are you sure?');
            //TODO This needs to be refactored, pass the ID to the method when its called
            var bookDOM = $(this).parents()[2];
            console.log(bookDOM);
            //console.log($($(bookDOM.parent()[0]).parent()).parent());
            var id = parseInt($($(this).parent()[0]).serializeArray()[1].value);
            console.log(id);
            if (confirmed) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteBulk", "Books")",
                    data: { book: id },
                    success: function () {

                    }
                })
                console.log($(bookDOM));
                $(bookDOM).hide();
                $(bookDOM).css('visibility', 'hidden');
                return true;
            }
        });
    });
</script>