@model List<BookDetail>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Scripts.Render("~/bundles/jquery")

@foreach (BookDetail book in Model)
{
    @Html.Partial("_BookDetails", book)
}


<script>
    $(document).ready(function () {
        $("#deleteBtn").on('click', function () {
            var confirmed = confirm('Are you sure?');
            //TODO This needs to be refactored, pass the ID to the method when its called
            var id = parseInt($($(this).parent()[0]).serializeArray()[1].value);
            console.log(id);
            if (confirmed) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteBulk", "Books")",
                    data: { book : id },
                    success: function () { console.log("Did it") }
                })
            }
        });
    });

</script>